@using ControlApp.Data

<div class="card" style="width: 300px">
		<div class="card-body">
			<h5 class="card-title">User Info</h5>
			<h6 class="card-text">Surname: @User.Surname</h6>
			<h6 class="card-text">Name: @User.Name</h6>
			<h6 class="card-text">Email: @User.Email</h6>
		</div>
	</div>

@code {
	[Parameter]
	public User User { get; set; }
}
