@page "/"
@using Web.Services
@inject FileService FileService

<PageTitle>Home</PageTitle>

<h1>Gallery</h1>
<div class="row row-cols-3 g-3">
    @foreach (var filepath in FileService.GetAllImages())
    {
        <div class="col">
            <ImageCard ImageName="@filepath"/>
        </div>
    }
    
</div>