@using DocumentApp.Services
@using DocumentApp.Interfaces
@using DocumentApp.Models
@inject UserService UserService
@if (UserService.CurrentUser is null)
{
    user = new Customer();
}
else
{
    user = UserService.CurrentUser as Customer;
}
    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" @bind-value="@user.Name"/>
        <label class="form-label">Ваше имя</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" @bind-value="@user.Surname"/>
        <label class="form-label">Ваша фамилия</label>
    </div>

    <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" @bind-value="@user.Patronymic"/>
        <label class="form-label">Ваше отчество</label>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">@user.Department</label>
    </div>
@code {
    public Customer? user;
    
    public bool CanSave = true;
}