@inherits LayoutComponentBase
@page "/login"

<div style="padding: 15px">
	<p>Login</p>
	<input>
</div>
<div style="padding: 15px">
	<p>Password</p>
	<input>
</div>
<div style="padding: 15px">
	<button style="color:#fff;background-color:#0d6efd;border-color:#0d6efd; border-radius:6px">Sign in</button>
	<button style="color:#fff;background-color:#0d6efd;border-color:#0d6efd; border-radius:6px">
		<NavLink href="registration" style="color:white; text-decoration:none">
                Registration
        </NavLink>
	</button>
</div>
