@page "/fetchdata"

<PageTitle>Userst</PageTitle>

@using Users.Module
@using Users.Services   
@inject UserService UserService

<h1>Users list</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else if (_users.Count == 1)
{
    <div>
        <p>
           Name: @_users[0].Name
        </p>
        <p>
            Id: @_users[0].Id
        </p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User>? _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsers();
    }
}
