@inherits LayoutComponentBase
@using BlazorRegistration.Services
@inject DataBase dataBase
@inject ILocalStorageService localStorageService

<PageTitle>Personal account</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/account" target="_blank">@dataBase.CurrentUser?.Surname @dataBase.CurrentUser?.Name</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>