@inherits LayoutComponentBase
@using BlazorRegistration.Data
@inject DataBase dataBase

<PageTitle>Personal account</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">dataBase.CurrentUser.Name</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>