@inherits LayoutComponentBase

<PageTitle>Authorization</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="login">
                Sign in
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
