@page "/Cabinet"
@using AuthorizationWebApp.Data.LocalStorageService
@inject UserService UserService;
@inject ILocalStorageService LocalStorageService;
@inject IJSRuntime Js;
<h3>Cabinet</h3>

@if (UserService.currentUser is not null &&
     UserService.currentUser.Login is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Name: @UserService.currentUser.Name</h5>
            <h5 class="card-title">Surname" @UserService.currentUser.Surname</h5>
            <p class="card-text">Mail: @UserService.currentUser.Mail</p>
            <p class="card-text">Login: @UserService.currentUser.Login</p>
            <button class="btn btn-dark" @onclick="LogOut">Log out</button>
        </div>
    </div>
}
else if(UserService.currentUser is null)
{
    <div class="alert alert-primary">Log in Please!</div>
}

@code {

    private void LogOut()
    {
        UserService.currentUser = null;
        LocalStorageService.RemoveAsync("Authorization");
        Js.InvokeVoidAsync("alert", "Log out has succesfull!");
    }
}