@page "/Cabinet"
@inject UserService UserService;
<h3>Cabinet</h3>

@if (UserService.currentUser.Login is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@UserService.currentUser.Name</h5>
            <h5 class="card-title">@UserService.currentUser.Surname</h5>
            <p class="card-text">@UserService.currentUser.Mail</p>
            <p class="card-text">@UserService.currentUser.Login</p>
            <button btn btn-dark @onclick="LogOut">Log out</button>
        </div>
    </div>
}
else if(UserService.currentUser is null)
{
    <div class="alert alert-primary">Warn!</div>
}

@code {

    private void LogOut()
    {
        UserService.currentUser = null;
    }
}