@page "/doc"
@using ServiceApp.Services
@inject FileSystemService fss

<PageTitle>Uploading documents</PageTitle>

<div class="card">
    <h1 class="card-header">Uploading documents</h1>
    <div class="card-body">
        <InputFile OnChange="@LoadFiles" multiple/> <br><br>

        @foreach (var name in fileNames)
        {
            <input type="submit" class="btn btn-primary btn-lg" @onclick="() => Download(name)" value="Load"/>
            <p>@name</p>
        }
    </div>
</div>

@code {
    string? path;
    List<string> fileNames = new List<string>();
    List<IBrowserFile> loadedFiles = new List<IBrowserFile>();

    protected override void OnInitialized()
    {
        UploadDoc();
    }

    private void UploadDoc()
    {
        fileNames = fss.UploadDocuments();
    }

    private void Download(string name)
    {
        path = fss.DownloadToLocal(name);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            loadedFiles.Add(file);
            Stream stream = file.OpenReadStream(5000000);
            await fss.UploadImageToDbAsync(stream, file.Name);
            stream.Dispose();
        }
        UploadDoc();
    }
}