@page "/"
@using Data
@inject NavigationManager Navigation
@inject CurrentUser CurrentUser

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

<button class="btn btn-primary" value = "Заказчик" @onclick="NavigateToReg"> Заказчик </button>
<button class="btn btn-primary" value = "Проектировщик" @onclick="NavigateToReg"> Проектировщик </button>
<button class="btn btn-primary" value = "Застройщик" @onclick="NavigateToReg"> Застройщик </button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
	string? roleName;

	private void NavigateToReg() 
	{
		CurrentUser.UserRole = roleName;
		Navigation.NavigateTo("/reg"); 
	} 
}