@page "/"
@using Data
@inject NavigationManager Navigation
@inject CurrentUsersRole CurrentUser

<PageTitle>Index</PageTitle>

<h1>Hello</h1>

<button class="btn btn-primary" value = "Заказчик" @onclick="@(() => NavigateToReg("Customer"))"> Заказчик </button>
<button class="btn btn-primary" value = "Проектировщик" @onclick="@(() => NavigateToReg("Designer"))"> Проектировщик </button>
<button class="btn btn-primary" value = "Застройщик" @onclick="@(() => NavigateToReg("Developer"))"> Застройщик </button>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

	private void NavigateToReg(string value) 
	{
		CurrentUser.UserRole = value;
		Navigation.NavigateTo("/reg"); 
	} 
}}