@page "/personalmain"
@using Data
@using Services
@inject NavigationManager Navigation
@inject CurrentUsersRole CurrentUserRole
@inject CurrentUser CurrentUserName
@inject ILocalStorageService LocalStorage

<PageTitle>Index</PageTitle>


@switch (CurrentUserRole.UserRole)
{
    case "Customer":
    <CustomerPageComponent></CustomerPageComponent>
        break;
    case "Designer":
    <DesignerPageComponent></DesignerPageComponent>
        break;
    case "Developer":
    <DeveloperPageComponent></DeveloperPageComponent>
        break;
}

<button class = "registerbtn" @onclick="Edit">Редактировать</button>
<button  class = "registerbtn" @onclick="Logouting">LOG OUT</button>


@code {

    private void Logouting()
    {
        CurrentUserName.CurrentCustomer = null;
        CurrentUserName.CurrentDesigner = null;
        CurrentUserName.CurrentDeveloper = null;
        LocalStorage.RemoveAsync("Autho");
        LocalStorage.RemoveAsync("string");
        Navigation.NavigateTo("/");
        StateHasChanged();
    }

    public void Edit()
    {
        Navigation.NavigateTo("/personal");
    }
}