@page "/project"

<PageTitle>Project</PageTitle>

@using ServiceApp.Data
@inject Customer customer

<h1>Project</h1>

<p>Отрасль: @customer?.Department</p>
<p>Документы: </p>

@*<select>
    <option @bind-value="@users.WorkerRole">Cuslomer</option>
    <option @bind-value="@users.WorkerRole">Designer</option>
    <option @bind-value="@users.WorkerRole">Developer</option>
</select>*@

@code {

}
