@page "/reg"
@using Data
@using Services
@using System.ComponentModel.DataAnnotations
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject CurrentUsersRole CurrentUsersRole
@inject CurrentUser CurrentUser
<PageTitle>Index</PageTitle>


<div class="card">
    <h4 class="card-header">Registration Page</h4>
    <div class="card-body">
        <hr>
            <label for="email"><b>Email</b></label>
            <input type="email" pattern=".+@globex\.com"  placeholder="Enter Email" name="email" id="email" required @bind-value="email" />
            <br/>
            <br/>
            <label for="login"><b>Login</b></label>
            <input type="text" placeholder="Enter Login" name="login" id="login" required @bind-value="login" />
            <br/>
            <br/>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required @bind-value="password" />
            <br/>
            <br/>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required @bind-value="repPassword" />
        <hr>
        <div class = "buttonreg">
            <button type="submit" class="button-27" @onclick="Registrarion">Registration</button>
            <br />
            <br />
            <br />
            <button type="submit" class="button-27" @onclick="Login">To Login</button>
        </div>
    </div>
</div>


@code {
    string login;
    string password;
    string email;
    string repPassword;
    List<string> globex = new List<string> () { "mail", "gmail" };
    private async void Registrarion()
    {
        if (password == repPassword && login != null && email != null && password != null && EmailCorrect())
        {
            switch (CurrentUsersRole.UserRole)
            {
                case "Customer":
                    Customer customer = new Customer();
                    customer.Login = login;
                    customer.Password = password;
                    customer.Email = email;
                    CurrentUser.CurrentCustomer = customer;
                    DBConnection.AddToDataBaseCustomer(customer);
                    await LocalStorage.SetAsync<Customer>("Autho", customer);
                    await LocalStorage.SetAsync<string>("string", "Customer");
                    break;
                case "Designer":
                    Designer designer = new Designer();
                    designer.Login = login;
                    designer.Password = password;
                    designer.Email = email;
                    CurrentUser.CurrentDesigner = designer;
                    DBConnection.AddToDataBaseDesigner(designer);
                    await LocalStorage.SetAsync<Designer>("Autho", designer);
                    await LocalStorage.SetAsync<string>("string", "Designer");
                    break;
                case "Developer":
                    Developer developer = new Developer();
                    developer.Login = login;
                    developer.Password = password;
                    developer.Email = email;
                    CurrentUser.CurrentDeveloper = developer;
                    DBConnection.AddToDataBaseDeveloper(developer);
                    await LocalStorage.SetAsync<Developer>("Autho", developer);
                    await LocalStorage.SetAsync<string>("string", "Developer");
                    break;
            }
            StateHasChanged();
            Navigation.NavigateTo("/personal"); 
        }
    } 

    private void Login() 
    { 
        Navigation.NavigateTo("/autho"); 
    } 

    private bool EmailCorrect() 
    {
        return new EmailAddressAttribute().IsValid(email);
    } 
}
