@page "/"
@using Web.Services
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web

@inject AuthService AuthService

<PageTitle>Index</PageTitle>

<h1>There is nothing now..</h1>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await AuthService.AuthorizeUserWithCache();
        
        if (AuthService.AuthorizedUser is null)
        {
            NavigationManager.NavigateTo("/authorization");
        }
    }
}