@using Core.Entities.Projects
@inject NavigationManager NavigationManager

<div class="card">
  <div class="card-body">
    <h5 class="card-title">@ProjectObj.Name</h5>
    <p class="card-text">@ProjectObj.Description</p>
    <button type="button" class="btn btn-primary" @onclick="@OpenProject">Open</button>
  </div>
</div>

@code {
    [Parameter] 
    public BaseProject ProjectObj { get; set; } = null!;

    private void OpenProject()
    {
        NavigationManager.NavigateTo($"/project/{ProjectObj._id}");
    }
}