@page "/user"

<PageTitle>Users</PageTitle>

@using BlazorApp.Data
@inject UserService UsersService

<h1>Users</h1>

@if (users == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Age</td>
                <td> </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Data.User[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await UsersService.GetUserAsync(DateTime.Now);
    }

}