@page "/images"
@using BlazorRegistration.Services
@inject FileSystemService fss
<PageTitle>Uploading images</PageTitle>

<h3>Uploading images</h3>

 <table class="table">
     <thead>
     <tr>
         <th>File name</th>
         <th>Uploading an image</th>
     </tr>
     </thead>
     <tbody>
        
     </tbody>
</table>

<img src="@path" width="500"/>

@code {
    string path;
    string fileName;
    List<string> fileNames = new List<string>();
    List<IBrowserFile> loadedFiles = new List<IBrowserFile>();
    
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            loadedFiles.Add(file);
            Stream stream = file.OpenReadStream();
            //await fss.UploadImageToDb(stream, file.Name);
            stream.Dispose();
        }

    }
}