@page "/"
@*@using BlazorRegistration.Data
@inject DataBase dataBase
@inject ILocalStorageService localStorageService*@
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*@code
{
    protected override async Task OnInitializedAsync()
    {
        User user = await localStorageService.GetAsync<User>("Authorization");
        
        if(user != null)
        {
            dataBase.CurrentUser = user;
        }
    }
}*@