@page "/MainPage"
@using AuthorizationApp.Services
@using IAuthorizationService = AuthorizationApp.Services.Interfaces.IAuthorizationService
@inject IAuthorizationService AuthorizationService;

<div class="page">
    <h3>MainPage</h3>
    Logged users:
    @foreach (var loggedUser in AuthorizationService.GetLoggedUsers())
    {
        <p>Login: @loggedUser.Login Name: @loggedUser.Name @loggedUser.Surname</p>
    }

</div>