@page "/MainPage"
@using AuthorizationApp.Services.Interfaces
@using IAuthorizationService = AuthorizationApp.Services.Interfaces.IAuthorizationService
@inject IAuthorizationService AuthorizationService;
@inject IImageService ImageService;

<div class="page">
    <h3>MainPage</h3>
    Logged users:
    @foreach (var loggedUser in AuthorizationService.GetLoggedUsers())
    {
        <p>Login: @loggedUser.Login Name: @loggedUser.Name @loggedUser.Surname</p>
    }

    Images:
    @if (_imagesInitialized)
    {
        @foreach (var file in _images)
        {
            <div class="card" style="width: 18rem;">
                <img src="images/@file" class="card-img-top" alt="No such image found">
                <div class="card-body">
                    <a href="images/@file" download="@file" class="btn btn-primary">Download</a>
                </div>
            </div>
        }
    }
</div>

@code {

    private bool _imagesInitialized;
    private List<string> _images;

    protected override async Task OnInitializedAsync()
    {
        _images = (await ImageService.GetAllImages()).ToList();
        _imagesInitialized = true;
    }


}