@using AuthorizationApp.Services
@inherits LayoutComponentBase
@inject IUserIdentityService UserIdentityService
@inject NavigationManager NavigationManager;


<PageTitle>AuthorizationApp</PageTitle>

<div class="page">
    <main>
        @if (UserIdentityService.CurrentUser is not null)
        {
            var user = UserIdentityService.CurrentUser;
            <div class="top-row px-4">
                <span>Hello, <NavLink href="/MyCabinet">@user.Name @user.Surname</NavLink></span>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!await UserIdentityService.TryGetCurrentUser())
        {
            NavigationManager.NavigateTo("/AuthorizationPage");
        }
    }

}