@using Data
@using Services
@inject CurrentUser CurrentUser
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<div class="card">
    <h4 class="card-header">Personal Page</h4>
    <div class="card-body">
        <hr>
            <select name="role" @onchange = "DepartmentChanged">
                <option value="-">-</option>
                <option value="Водоснабжение">Водоснабжение</option>
                <option value="Газификация">Газификация</option>
            </select>
        <hr>
        <button type="submit" class="registerbtn" @onclick="Save">Save</button>
    </div>
</div>

<button @onclick="GoToProj">Мои проекты</button>

@code {
    string department;

    public void GoToProj()
    {
        Navigation.NavigateTo("/mainproj");
    }

    public async void Save()
    {
        CurrentUser.CurrentCustomer.Department = department;
        DBConnection.ReplaceCustomer(CurrentUser.CurrentCustomer);
        await LocalStorage.SetAsync<Customer>("Autho", CurrentUser.CurrentCustomer);
        StateHasChanged();
        Navigation.NavigateTo("/personalmain");
    }

    public void DepartmentChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            department = e.Value.ToString();
        }
    }
}