@using Data
@using Services
@using System.ComponentModel.DataAnnotations;
@inject CurrentUser CurrentUser
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage

<div class="card">
    <h4 class="card-header">Personal Page</h4>
    <div class="card-body">
        <hr>
            <label for="organisation"><b>Органзация</b></label>
            <input type="text" placeholder="Enter Organisation" name="organisation" id="organisation" required @bind-value="organisation" />
            <br/>
            <label for="middleName"><b>Фамилия</b></label>
            <input type="text" placeholder="Введите Фамилию" name="middleName" id="middleName" required @bind-value="middleName" />
            <br/>
            <label for="firstName"><b>Имя</b></label>
            <input type="text" placeholder="Введите Имя" name="firstName" id="firstName" required @bind-value="firstName" />
            <br/>
            <label for="lastName"><b>Отчество</b></label>
            <input type="text" placeholder="Введите Отчество" name="lastName" id="lastName" required @bind-value="lastName" />
            <br/>
            <label for="telephone"><b>Телефон</b></label>
            <input type="tel" placeholder="Введите Телефон" pattern="[8]{1}-([0-9]){3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" name="telephone" id="telephone" required @bind-value="telephone" />
            <br/>
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Ввдеите Почту" pattern=".+@globex\.com" name="email" id="email" required @bind-value="email" />
            <br/>
            <label for="ogrn"><b>ОГРН</b></label>
            <input type="text" maxlength="13" placeholder="Enter OGRN" name="ogrn" id="ogrn" required @bind-value="ogrn" />
            <br/>
            <label for="inn"><b>ИНН</b></label>
            <input type="text" maxlength="10" placeholder="Enter INN" name="inn" id="inn" required @bind-value="inn"/>
            <br/>
            <label for="kpp"><b>КПП</b></label>
            <input type="text" maxlength="9" placeholder="Enter KPP" name="kpp" id="kpp" required @bind-value="kpp" />
            <br/>
            <label for="address"><b>Адрес</b></label>
            <input type="text" placeholder="Enter Address" name="address" id="address" required @bind-value="address" />
            <br/>
            <label for="director"><b>Директор</b></label>
            <input type="text" placeholder="Enter Director" name="director" id="director" required @bind-value="director" />
            <br/>
            <label for="engineer"><b>Главный инженер</b></label>
            <input type="text" placeholder="Enter Engineer" name="engineer" id="engineer" required @bind-value="engineer" />
            <br/>
        <hr>
        <button type="submit" class="registerbtn" @onclick="Save">Save</button>
    </div>
</div>

<button class = "registerbtn" @onclick="GoToProj">Мои проекты</button>


@code {
    string middleName;
    string firstName;
    string? lastName;
    string? organisation;
    string? ogrn;
    string? inn;
    string? kpp;
    string? address;
    string? telephone;
    string? director;
    string? engineer;
    string email;
    List<string> globex = new List<string> () { "mail", "gmail" };

    public void GoToProj()
    {
        Navigation.NavigateTo("/mainproj");
    }

    public async void Save()
    {
        if (TelephoneCorrect())
        {
            CurrentUser.CurrentDesigner.DesignerOrganisation = organisation;
            CurrentUser.CurrentDesigner.OGRN = ogrn;
            CurrentUser.CurrentDesigner.KPP = kpp;
            CurrentUser.CurrentDesigner.INN = inn;
            CurrentUser.CurrentDesigner.Address = address;
            CurrentUser.CurrentDesigner.Telephone = telephone;
            CurrentUser.CurrentDesigner.Director = director;
            CurrentUser.CurrentDesigner.MainEngineer = engineer;
            DBConnection.ReplaceDesigner(CurrentUser.CurrentDesigner);
            await LocalStorage.SetAsync<Designer>("Autho", CurrentUser.CurrentDesigner);
            StateHasChanged();
            Navigation.NavigateTo("/personalmain");
        }
    }

    public bool TelephoneCorrect()
    {
        return true;
    }
}