@using Data
@inject NavigationManager Navigation
@inject CurrentUser CurrentUser
@inject CurrentProject CurrentProj

<table class="table">
    <thead>
        <tr>
            <th>Наименование документа</th>
            <th>Область</th>
            <th>Утвержден</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var proj in Projects)
        {
            <tr>
                <td @onclick = "() => ViewProj(proj)">@proj.Name</td>
                <td @onclick = "() => ViewProj(proj)">@proj.Department</td>
                <td><input type="checkbox" checked = "@proj.IsApproved" disabled="disabled"><label></label></td>
            </tr>
        }
    </tbody>
</table>

@if (CurrentUser.CurrentCustomer != null)
{
    <button class = "registerbtn" @onclick="CreatingProj">Создать Проект</button>
}

@code {
    [Parameter]
    public List<Project>? Projects { get; set; }

    private void CreatingProj()
    {
        Navigation.NavigateTo("/doc");
    }

    private void ViewProj(Project project)
    {
        CurrentProj.Project = project;
        Navigation.NavigateTo("/proj");
    }
}