@inherits LayoutComponentBase
@using Services
@using Data
@inject ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inject CurrentUser UserCurrent
@inject CurrentUsersRole UserCurrentRole

<PageTitle>ServiceApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <b @onclick = "ClickingIn"></b>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void ClickingIn()
    {
        Navigation.NavigateTo("/mainproj");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            UserCurrentRole.UserRole = await LocalStorage.GetAsync<string>("string");
            switch (UserCurrentRole.UserRole)
            {
                case "Customer":
                    UserCurrent.CurrentCustomer = await LocalStorage.GetAsync<Customer>("Autho");
                    break;
                case "Designer":
                    UserCurrent.CurrentDesigner = await LocalStorage.GetAsync<Designer>("Autho");
                    break;
                case "Developer":
                    UserCurrent.CurrentDeveloper = await LocalStorage.GetAsync<Developer>("Autho");
                    break;
            }
            StateHasChanged();

            if (UserCurrent.CurrentCustomer != null || UserCurrent.CurrentDesigner != null || UserCurrent.CurrentDeveloper != null)
            {
                Navigation.NavigateTo("/personalmain"); 
            }
        }
    }
}