@page "/ProjectPage"
@using DocumentApp.Interfaces
@using DocumentApp.Models
@using DocumentApp.Services
<h3>Проекты</h3>
@inject IDocumentService DocumentService
@inject UserService UserService
@inject ProjectService ProjectService
@inject RoleService RoleService

@switch (_role)
{
    case "Заказчик":
        <CustomerProject></CustomerProject>
    break;
        
    case "Проектировщик":
        <DesignerProject IsCustomer="_isCustomer"></DesignerProject>
    break;
        
    case "Застройщик":
        <BuilderProject IsCustomer="_isCustomer"></BuilderProject>
    break;
    default:
        return;
}

@code {
    private string? _role;
    private bool _isCustomer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _role = RoleService.GetRoleNameById(UserService.CurrentUser.RoleId);
        if (_role == "Заказчик")
        {
            _isCustomer = true;
        }
    }

}